header#document-header {
    background-color: $header-background-color;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    .container {
        align-items: center;
        display: flex;
        gap: $spacing2;
        justify-content: flex-end;
        padding-bottom: $spacing1;
        padding-top: $spacing1;
        .logo {
            margin-right: auto;
        }
    }
    a {
        text-decoration: none;
    }
    ul {
        list-style: none;
    }
    .logo {
        font-size: 0;
        img {
            display: block;
            width: px2rem(50);
        }
    }
    .streak {
        align-items: center;
        background-color: $body-color;
        border-radius: 10px;
        color: $body-background-color;
        display: flex;
        gap: $spacing0;
        padding: px2rem(2) px2rem(8);
        height: px2rem(20);
        font-size: 14px;
        img {
            height: 18px;
            transform: translateY(-40%)
        }
    }
    .user {
        align-items: center;
        color: $body-color;
        display: flex;
        gap: $spacing2;
        .avatar {
            aspect-ratio: 1;
            border-radius: 100%;
            height: 40px;
            object-fit: cover;
            width: 40px;
        }
    }
}
