<div class="debate-response">
  <p><strong><%= response.user.pseudonym %>:</strong></p>
  <p><%= response.content %></p>
  <p><em>Posté le <%= response.created_at.strftime("%d %B, %Y à %H:%M") %></em></p>
</div>