<div id="<%= dom_id debate %>">
  <p>
    <strong>Title:</strong>
    <%= debate.title %>
  </p>

  <p>
    <strong>Lead:</strong>
    <%= debate.lead %>
  </p>

  <p>
    <strong>Context:</strong>
    <%= debate.context %>
  </p>

</div>
