.connection{
    margin-top: $spacing4;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
    max-width: 500px;
    .header_form{
        .logo img {
            display: block;
            width: px2rem(80);
        }
        display: flex;
        gap: $spacing2;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: $spacing3;
        .form_fields{
            margin: $spacing3 0;
        }
        a{
            color: $body-color;
            &:hover{
                color: $color-text-alt;
            }
            &:active{
                color: $color-text-alt;
            }
        }
        .remember_me{
            margin-top: $spacing2;
        }
    }
}
