// Entry point for your Sass build

@import "design-system/fonts";

@import "utils";
@import "config";
@import "dependencies/bootstrap-breakpoints";
@import "dependencies/icons";

@import "design-system/header";
@import "design-system/layout";
@import "design-system/nav";
@import "design-system/typography";

@import "sections/home";
@import "sections/user";
@import "sections/connection";
@import "sections/articles";
@import "sections/debates";
@import "sections/search";

@import "components/article";
@import "components/cookies";
@import "components/like";
@import "components/reply";
@import "components/video";
